.reservation {
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.477) 16%, hsla(0, 0%, 0%, 0.652)),
        url('/images/reser.jpg');
    background-size: cover;
    background-position: center;
}

.reservation-blok {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 100px;
    max-width: 650px;
    color: #fff;
}

.reservation-blok h1 {
    font-size: 300%;
    text-transform: uppercase;
}

.reservation-blok__container {
    display: flex;
    justify-content: start;
    gap: 15px;
}

.reservation-blok__container-div {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--green-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation-blok__container-icon {
    color: #fff;
    width: 35px;
    height: 35px;
}

.reservation-blok__container__p-1 {
    color: #fff;
    font-weight: bold;
    font-size: 120%;
}

.reservation-blok__container__p-2 {
    font-size: 150%;
    color: var(--orange-color);
    font-weight: bold;
}

.reservation-blok a {
    width: 200px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--green-color);
    transition: .5s;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 110%;
}

.reservation-blok a:hover {
    background-color: var(--orange-color);
}

@media (max-width: 1024px) {
    .reservation-blok {
        padding: 50px;
    }
}

@media (max-width: 768px) {
    .reservation {
        font-size: 80%;
        background-position: center;
        background-attachment: initial;
    }

    .reservation-blok h1 {
        font-size: 200%;
    }

    .reservation-blok {
        padding: 30px 20px;
    }

    .reservation-blok__container-div {
        width: 45px;
        height: 45px;
    }

    .reservation-blok__container-icon {
        width: 25px;
        height: 25px;
    }
}