.specials {
    margin: 50px 0;
}

.specials-blok {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    color: #fff;
    padding: 0 100px;
}

.specials-blok__container-1 {
    position: relative;
    height: 500px;
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.482) 16%, hsla(0, 0%, 0%, 0.482)),
        url('/images/specials/1-bg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 100px;
    border-radius: 25px;
}

.specials-blok__container-1__specials-1 {
    position: relative;
    z-index: 2;
}

.specials-blok__container-1__specials-1 h1 {
    font-size: 350%;
    max-width: 300px;
    line-height: 1;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.specials-blok__container-1__specials-1 p {
    font-size: 120%;
    text-transform: uppercase;
    font-weight: bold;
}

.specials-blok__container-1__specials-1-a {
    font-size: 150%;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: var(--orange-color);
}

.specials-blok__container-1__specials-1__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #000;    
    text-decoration: none;
    font-size: 110%;
    font-weight: bold;
    background-color: #fff;
    width: 200px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    transition: .5s;
}

.specials-blok__container-1__specials-1__container:hover {
    background-color: var(--green-color);
    color: #fff;
}

.specials-blok__container-1__specials-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: end;
}

.specials-blok__container-1__specials-2 img {
    opacity: .6;
}

/* ============================================================================================== */

.specials-blok__container-2 {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.482) 16%, hsla(0, 0%, 0%, 0.482)),
        url('/images/specials/2-bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 100px;
    border-radius: 25px;
}

.specials-blok__container-2__specials-1 {
    position: relative;
    z-index: 2;
}

.specials-blok__container-2__specials-2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: end;
}

.specials-blok__container-2__specials-2 img {
    opacity: .6;
}

.specials-blok__container-2__specials-1 h1 {
    font-size: 400%;
    max-width: 300px;
    line-height: 1;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.specials-blok__container-2__specials-1 p {
    font-size: 130%;
    text-transform: uppercase;
    font-weight: bold;
}

.specials-blok__container-2__specials-p {
    font-size: 150%;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: var(--orange-color);
}

@media (max-width: 1024px) {
    .specials-blok {
        padding: 0 50px;
    }
}

@media (max-width: 768px) {
    .specials-blok {
        padding: 0 10px;
        flex-direction: column;
        gap: 5px;
    }
    .specials-blok__container-1 {
        height: 300px;
        border-radius: 15px;
    }
    .specials-blok__container-1__specials-1 h1 {
        font-size: 250%;
    }
    .specials-blok__container-1__specials-1 {
        font-size: 80%;
    }
    .specials-blok__container-1__specials-2 img {
        width: 100%;
        height: auto;
    }
    .specials-blok__container-1__specials-1__container {
        font-size: 100%;
        width: 200px;
        padding: 10px;
        margin-top: 20px;
    }
    .specials-blok__container-2 {
        background-size: cover;
        background-position: left;
        height: 300px;
        border-radius: 15px;
    }
    .specials-blok__container-2__specials-1 {
        font-size: 80%;
    }
    .specials-blok__container-2__specials-1 h1 {
        font-size: 250%;
    }
    .specials-blok__container-2__specials-2 img {
        width: 50%;
        height: auto;
    }
}